<h2 class="welcomeHeader">Leagues Home Page</h2>
<div class="leagueList">
  <div class="columns small-6">
<% @open_leagues.each do |league| %>
<div class="leagueJoin"><%= link_to league.league_name, league_path(league) %></div>
<% end %>
</div>
</div>
