<h1>League Homepage for <%= @league.league_name %></h1>
<div class="memberList">
  League Members
  <ul>
  <% @members.each do |member|%>
<li>  <%= member.username %> </li>
<% end %>
</ul>
</div>
<% if !@members.find_by_id(current_user.id) %>
<%= link_to "Join this league", league_memberships_path(@league), method: :post  %>
<% end %>
<h2></h2>
