<% if current_user %>
  <h1>Welcome <%=current_user.first_name  %></h1>

  <% @leagues.each do |league| %>
  <p> <%=link_to "#{league.league_name}", league_path(league) %></p>
  <%  end   %>
<% else %>
  <h1> Welcome to NFL Confidence Pool! </h1>
  <p>
    This is an app built to allow you to pick the NFL games each weekend.
    Gonna be a short blurb about rules of the game!
  </p>
<% end %>
