/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
a {
  font-size: 24px;

}

h1 {
  font-size: 24px;
  color: #FFFFFF;
  display: block;
}

.top_bar {
  color: white;
  margin-bottom: 0px;
}
.ul {
 font-size: 24px;
}

.welcome {
  font-size: 24px;
  color: #FFFFFF;
}

 .welcomeHeader {
   border-style: solid;
   border-width: 2px;
   border-color: black;
   text-align: center;
   background-color: green;
   margin-top: 0px;
   margin-bottom: 0px;
   font-weight: bold;
 }

.logInSignUp {
  border-style: groove;
  border-width: 1px;
  width: 20em
}

.gameTile {
  text-align: center;
  border-style: solid ;
  border-color: black;
  margin-top: 10px;

}

.awayTeam {
  margin-bottom: 2px;
}

.homeTeam {
  margin-top: 2px;
}

.awayTeamwinner {
    margin-bottom: 2px;
    background-color: #FF110D;
    font-weight: bold;
}

.homeTeamwinner {
  margin-top: 2px;
  background-color: #33D40B;
  font-weight: bold;
}

h3 {
  text-align: center;
}


.game {
    align-content: center;
    margin: 2px;
    border-style: solid;
    height: 15em;
    width:  15em;
    padding-top: 5px;
    padding-bottom: 5px;
}

.gameTeam {
  height: 50%;
  width: 80%;
  font-size: 60em;


}

.submitButton {
  display: block;
  margin: 10px auto;
  font-size: 24px;

}
