/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
a {
  font-size: 24px;

}

h1 {
  font-size: 24px;
  color: #FFFFFF;
  display: block;
}

.top_bar {
  color: white;
  margin-bottom: 0px;
}
.ul {
 font-size: 24px;
}

.welcome {
  font-size: 24px;
  color: #FFFFFF;
}

 .welcomeHeader {

   text-align: center;
   margin-top: 0px;
   margin-bottom: 0px;
   font-weight: bolder;
 }

.logInSignUp {
  border-style: groove;
  border-width: 1px;
  width: 20em;
}

.gameTile {
  text-align: center;
  font-weight: bold;
  border-style: solid ;
  border-color: black;
  margin-top: 10px;
  height: 28rem;
  background-color: #486D30;
  opacity: .90;

}

.awayTeam {
  margin-bottom: 2px;
  margin-top: 2px;
  border-style:ridge;
  border-width: 3px;
  font-weight:bolder;
}
.awayTeam img {
  border: hidden;
}

.homeTeam {
  margin-top: 2px;
  margin-bottom: 2px;
  border-style:ridge;
  border-width: 3px;
  font-weight: bold;

}

.homeTeam img{
  border: hidden;
}

.awayTeamwinner {
    margin-bottom: 2px;
    margin-top: 2px;
    background-color: #FF110D;
    font-weight: bold;
    border-style: ridge;
    border-width: 2px;
    border-color: black;
}

.homeTeamwinner {
  margin-top: 2px;
  margin-bottom: 0px;
  background-color: #33D40B;
  font-weight: bold;
  border-style: ridge;
  border-width: 3px;
  border-color: black;
}


h3 {
  text-align: center;
}


.game {
    align-content: center;
    margin: 2px;
    border-style: solid;
    height: 18em;
    width:  15em;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #486D30;
    opacity: .70;
    overflow: hidden;
}

.gameTeam {
  height: 30%;
  width: 80%;
  font-size: 60em;
}

.submitButton {
  display: block;
  margin: 10px auto;
  font-size: 24px;
}

#pickLink a:link {
  color: white;
}
#pickLink a:visited {
  color: #FFBB00;
}

.conScore {
  font-weight: bolder;
}
.leagueBoard {
  color: #1ec503;
  opacity: .9;
}
.leagueBoard a{
  color: #1ec503;
}
.customLeagueHeader {
  color: black;
  font-weight: bold;
}
