/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
a {
  font-size: 24px;

}
.top_bar {
  margin-bottom: 0px;
}

 .welcomeHeader {
   border-style: solid;
   border-width: 2px;
   border-color: black;
   text-align: center;
   background-color: green;
   margin-top: 0px;
   margin-bottom: 0px;
   font-weight: bold;
 }

.logInSignUp {
  border-style: groove;
  border-width: 1px;
  width: 20em
}


.matchups {
  border-style: solid;
  border-width: 1px;
}


.gameTile {
  text-align: center;
  border-style:  solid ;
  border-color: black;
  width: 50%;
  margin-left:  auto;
  margin-right: auto;
  margin-top: 10px;

}

.awayTeam {
  margin-bottom: 2px;
}

.homeTeam {
  margin-top: 2px;
}

.awayTeamwinner {
    margin-bottom: 2px;
  background-color: cyan;
}

.homeTeamwinner {
  margin-top: 2px;
  background-color: green;
}

.leagueLinks {
  width: 50%;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 2px;
  border-style: double;
  border-width:thick;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.leagueLink {
  width: 50%;
  margin: auto;
  border-style: solid;
  border-width: 1px;
  padding: 2px;
  text-align: left;
  font-size: 16px;
}
.leagueJoin {
  border-style: solid;
  border-width: 1px;
  padding: 2px;
  text-align: left;
  font-size: 16px;
}

.memberList {
  font-weight: bold;
}

.gameHead{
  text-align: center;
}

.leagueGameList {
  width: 75%;
  margin: auto;

}
.leagueGame {
  width: 100%;
  margin: auto;
  list-style-type: none;
  border-style: double;
}
.matchup {
  font-size: 18px;
  border-style: ridge;
  width: 100%;
}
h3 {
  text-align: center;
}
.userPicks {
  width: 75%;
  margin: auto;
  border-style: solid;
  border-color: black;
  border-width: thick;
}

.gamePick {
  margin-top: 1px;
  border-style: solid;
}

.submitButton {
  font-size: 24px;
}

.publicLink {
  padding-right: 10px;
}

.privateLink {
  padding-left: 10px;
  text-align: right;
}
.weeklyScore {
  font-style: italic;
  font-size: 18px;
}

.yearToDateScore {
  font-weight: bold;
  font-size: 18px;
}
