.pickList {
    display: block;
    margin: auto;
    padding-left: 20em;
    font-size: 30px;
    font-weight: bolder;
    list-style-type: none;


}

.membershipHeader {
  text-align: center;
  color: black;
  font-weight: bolder;
}
