.pickList {
    display: block;
    margin: auto;
    padding-left: 5em;
    align-content: center;
    font-size: 30px;
    font-weight: bolder;
    list-style-type: none;
}

.membershipHeader {
  text-align: center;
  color: black;
  font-weight: bolder;
}

.userPick {
  display: block;
  margin: auto;
  border-style: dashed;
  border-color: black;
  height: 10em;
}
