#Niners{
  background: image-url("Niners.gif");
  background-size: cover
}
#Bears{
  background: image-url("Bears.gif");
  background-size: cover
}
#Bengals{
  background: image-url("Bengals.gif");
  background-size: cover
}
#Bills{
  background: image-url("Bills.gif");
  background-size: cover
}
#Broncos{
  background: image-url("Broncos.gif");
  background-size: cover
}
#Browns{
  background: image-url("Browns.gif");
  background-size: cover
}
#Buccaneers{
  background: image-url("Buccaneers.gif");
  background-size: cover
}
#Cardinals{
  background: image-url("Cardinals.gif");
  background-size: cover
}
#Chargers{
  background: image-url("Chargers.gif");
  background-size: cover
}
#Chiefs{
  background: image-url("Chiefs.gif");
  background-size: cover
}
#Colts{
  background: image-url("Colts.gif");
  background-size: cover
}
#Cowboys{
  background: image-url("Cowboys.gif");
  background-size: cover
}
#Dolphins{
  background: image-url("Dolphins.gif");
  background-size: cover
}
#Eagles{
  background: image-url("Eagles.gif");
  background-size: cover
}
#Falcons{
  background: image-url("Falcons.gif");
  background-size: cover
}
#Giants{
  background: image-url("Giants.gif");
  background-size: cover
}
#Jaguars{
  background: image-url("Jaguars.gif");
  background-size: cover
}
#Jets{
  background: image-url("Jets.gif");
  background-size: cover
}
#Lions{
  background: image-url("Lions.gif");
  background-size: cover
}
#Packers{
  background: image-url("Packers.gif");
  background-size: cover
}
#Panthers{
  background: image-url("Panthers.gif");
  background-size: cover
}
#Patriots{
  background: image-url("Patriots.gif");
  background-size: cover
}
#Raiders{
  background: image-url("Raiders.gif");
  background-size: cover
}
#Rams{
  background: image-url("Rams.gif");
  background-size: cover
}
#Ravens{
  background: image-url("Ravens.gif");
  background-size: cover
}
#Redskins{
  background: image-url("Redskins.gif");
  background-size: cover
}
#Saints{
  background: image-url("Saints.gif");
  background-size: cover
}
#Seahawks{
  background: image-url("Seahawks.gif");
  background-size: cover
}
#Steelers{
  background: image-url("Steelers.gif");
  background-size: cover
}
#Texans{
  background: image-url("Texans.gif");
  background-size: cover
}
#Titans{
  background: image-url("Titans.gif");
  background-size: cover
}
#Vikings{
  background: image-url("Vikings.gif");
  background-size: cover
}
