.leagueLinks {
  width: 50%;
  display: block;
  align-self: center;
  margin-top: 0px;
  margin-bottom: 5px;
  border-style: double;
  border-width:thick;
  color: black;
  font-weight: bold;
  font-size: 20px;
  background-color: #486D30;
  opacity: .7;
}
.leagueLinks a{
  color:black;
  font-weight:bold;

}

.leagueLink {
  width: 50%;
  margin: auto;
  border-style: solid;
  border-width: 1px;
  padding: 2px;
  text-align: left;
  font-size: 16px;
}


.weeklyScore {
  font-style: italic;
  font-size: 18px;
}

.yearToDateScore {
  font-weight: bold;
  font-size: 18px;
}

.introBlub {
  font-size: 1.5em;
  font-weight: bold;
}
